body {
    background-color: white;
    margin-left: 25px;
    margin-top: 35px;
    padding-left: 2%;
    padding-right: 2%;
}
h1{
    color: black;
    font-family: Arial;
    font-size: 30px;
}
h2{
    color: black;
    font-family: Arial;
    font-size: 25px;
}

p{
    color: black;
    font-family: Arial;
    font-size: 18px;
}

ul{
    color: black;
    font-family: Arial;
    font-size: 18px;
}
img{
    padding-left: 1%;
    width: 300px;
    height: 386px;
}

iframe.terminal {
    width: 800px;
    height: 500px;
    left: -50px;
    resize: both;
    min-height: 260px;
    min-width: 700px;
}

table, td, th {
    font-family: Arial;
    border-spacing: 3px;
    border: 1px solid #777;
    padding: 5px;
}