body {
    background-color: white;
    margin-left: 25px;
    margin-top: 35px;
    padding-left: 2%;
    padding-right: 2%;
}

h1{
    color: black;
    font-family: Arial;
    font-size: 30px;
}

p{
    color: black;
    font-family: Arial;
    font-size: 18px;
}

ul{
    color: black;
    font-family: Arial;
    font-size: 18px;
}

/***** Positioning the Images *****/
img.Button_no, img.Button_up, img.Button_down{
    position: absolute;
    top: 200px;
    left: 75%;
    width: 174px;
}

img.indc_NO, img.indc_1U, img.indc_2D, img.indc_2U, img.indc_3D, img.indc_3U{
    position: absolute;
    top: 110px;
    margin-left:-328px;
    left: 50%;
    width: 656px;
    border-radius: 10px;
}

img.I_NO{
    position: absolute;
    top: 200px;
    margin-left:-239px;
    left: 23%;
    width: 300px;
    border-radius: 10px;
}

/*
img.I_one, img.I_two, img.I_three, img.I_open, img.I_close, img.I_alarm, img.I_fan {}*/

/*********************************/
iframe.stream{
    width: 600px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -300px;
}



/*
img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -343px;
	margin-left: -480px;
}*/

