





/*

.text_label {
    width: 100px;
    margin-bottom: 20px;
}

.text_input {               
    width: 200px;
    padding-top: 20px;
}

.div_form {                  
    width: 207.2px;
    height: 100px;
    margin: 0px auto;
    text-align: center;
};


#submit {
    margin: 0 auto;
}

form{
    margin: 0 auto;
    width: 250;
}

.custom_button {
    text-decoration: none;
    padding: 4px;
    background-color: #444;
    color: white;
    border: 0.5px solid;

}

.custom_button:hover {
    transition: 0.5s;
    background-color: #6388cb;
    border: 0.5px solid black;
}

.custom_button:active {
    background-color: orange;
}

*/


/* Code from notes tested in class and works!! */
/*

.text_label {						
	float: left;
	width: 100px;
	text-align: right;
	padding: 0px 10px 0px 0px;}
.text_input {				 			
	width: 150px;
	text-align: left;
	padding: 0px 0px 0px 10px;
}
div { padding: 10px 0px 10px 0px;	
	width: 274px;}

#submit { float: right; }

*/